:root {
  --link-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --btn-text-color: #ffffff;
  --btn-background-color: #2196f3;
  --footer-background: #2f303a;
}

html {
  box-sizing: border-box;
}

* *::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

body {
  font-family: Roboto, serif;
  color: var(--title-color);
}

.link,
.link:hover,
.link:focus {
  text-decoration: none;
  color: var(--link-color);
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  outline: 1px solid blue;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header {
  /* padding-top: 32px; */
  /* padding-bottom: 32px; */
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo-web {
  color: var(--link-color);
}

.logo-studio-header {
  color: #000000;
}

.logo-studio-footer {
  color: #ffffff;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.hero {
  background: #2f303a;
}

.hero-content {
  padding: 200px 230px 281px 230px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-bottom: 30px;
  text-align: center;
}

.hero-btn {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background: var(--btn-background-color);
  cursor: pointer;
  margin-top: 30px;
}

.hero-btn:hover {
  background: #188ce8;
}

.about {
  padding: 94px auto;
}

.about-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 10px;
}

.about-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 50px;
}
.team {
  background: #f5f4fa;
}
.team-title {
  padding: 94px auto;
}

.team-list-item {
  margin-left: 30px;
  margin-bottom: 94px;
}
.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: inherit;
}

.team-list-prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer {
  background: var(--footer-background);
}

.footer-list-address {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.fotter-tel {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO */

.portfolio-btn-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  background: var(--btn-background-color);
  color: var(--btn-text-color);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
